.app-footer {
  margin-top: $space-xxl;
  background-color: $gray-1;
  border: 1px solid $gray-2;
  &__inner {
    @extend .container;
    text-align: center;
    padding: $space-lg $space-sm $space-sm;
  }
}
