.custom-tabs {
  &__tab-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: $space-md;
  }

  &__tab-link {
    background-color: transparent;
    border: 0 none;
    padding: $space-xs $space-sm;
    font-size: $text-sm;
    text-transform: uppercase;
    border-top: 1px solid transparent;
    font-weight: 700;
    color: $gray-5;
    outline: none;
    cursor: pointer;

    @include screen-md {
      padding: $space-sm $space-xxl;
    }
    &:active {
      outline: none;
    }
    &--active {
      color: $black;
      border-top: 1px solid $gray-3;
    }
  }

  &__tab-content {
  }
}
