.my-profile {
  &__user {
    display: flex;
    justify-content: center;
    margin-bottom: $space-xl;

    @include screen-md {
      margin-bottom: 100px;
    }
  }
  &__publications {
  }
}

.my-profile-user {
  display: flex;
  flex-wrap: wrap;

  &__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include screen-md {
      width: 275px;
      margin-right: 50px;
    }

    img {
      display: block;
      border-radius: 50%;
      height: 150px;
      width: 150px;
    }
  }
  &__info-content {
    width: 100%;
    margin: $space-lg auto;

    @include screen-md {
      width: 50%;
      max-width: 500px;
      margin: 0;
    }

    h2 {
      font-size: $text-xl;
      font-weight: 400;
      margin-bottom: $space-lg;
    }

    .info-level {
      margin-bottom: $space-xl;
    }
  }
}

.publications-gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $space-md;

  @include screen-lg--max {
    grid-template-columns: repeat(2, 1fr);
  }
  @include screen-sm--max {
    grid-template-columns: repeat(1, 1fr);
  }
  &__item {
  }
}
