.post-preview-cover {
  position: relative;
  width: 100%;
  padding-top: 125%;

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
}

.post-preview-footer {
  display: flex;
  justify-content: space-between;
  margin-top: $space-md;
  &__author {
  }
  &__actions {
  }
}

.post-footer-actions {
  display: flex;
  &__likes-count {
    font-weight: 600;
    margin-right: $space-sm;
  }
  &__like-heart {
    font-size: $text-lg;
  }
}
