.post-preview-simple {
  position: relative;
  width: 100%;
  padding-top: 125%;

  &__image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    right: 50%;
    transform: translateX(50%);
  }
}
