.profile-rounded-image-link {
  text-decoration: none;

  &__image-holder {
    display: flex;
    justify-content: center;
    margin-bottom: $space-xs;

    img {
      border-radius: 50%;
      height: 60px;
      width: 60px;
    }
  }
  &__text {
    font-size: $text-xs;
    display: block;
    text-align: center;
  }
}
