.app-header {
  margin-bottom: $space-lg;
  border-bottom: 1px solid $gray-2;
  &__inner {
    @extend .container-wide;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @include screen-sm--max {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__brand {
    display: inline-flex;
    align-items: center;
    @include screen-sm--max {
      width: 100%;
      justify-content: center;
    }
  }
  &__brand-name {
    line-height: 1;
    font-size: $text-md;
    font-family: 'Amsterdam';
  }
}

.header-actions-nav {
  @include screen-sm--max {
    margin-top: $space-sm;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-item {
    margin: 0 $space-xs;
    font-size: $text-md;
  }
}
