.app-header {
  &__inner {
    @extend .container;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  &__brand {
    display: inline-flex;
    align-items: center;
  }
  &__brand-name {
    line-height: 1;
  }
  &__logo {
    display: inline-flex;
    align-items: center;
    margin-right: $space-sm;
  }
}

.header-actions-nav {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-item {
    margin: 0 $space-xs;
  }
  &__list-link {
    padding: $space-xs;
    border-radius: 50%;
    background-color: $gray-1;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &--image {
      background-color: transparent;
      img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
    }
  }
}
